body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body.advanced-search-page {
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  padding: 20px 20px 0;
}

.flex-container, .top-nav, .search-box, .form-group,
.button-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container {
  width: 50%;
}

.form-group,
.button-group {
  margin-bottom: 10px;
}

input[type=text],
input[type=submit] {
  border: 1px solid #ffffff;
  height: 30px;
  font-size: 14px;
  background-color: #fff;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  min-width: 54px;
  cursor: pointer;
  user-select: none;
}
input[type=text]:focus,
input[type=submit]:focus {
  outline: none;
  border-color: #4285f4;
  background-color: #e8f0fe;
}

input[type=submit] {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: Roboto, arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
input[type=submit]:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

.search-box {
  align-items: center;
  background-color: #fff;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  padding: 10px 12px;
  max-width: 800px;
  width: 100%;
}
.search-box .search-icon {
  font-family: "Material Icons";
  font-size: 24px;
  color: #9aa0a6;
  margin-right: 10px;
}
.search-box input[type=text] {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.top-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  justify-content: space-between;
}

.top-nav .navbar-logo {
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 22px;
  margin-right: 20px;
}
.top-nav .navbar-logo span:nth-child(1) {
  color: #4285f4;
}
.top-nav .navbar-logo span:nth-child(2), .top-nav .navbar-logo span:nth-child(6) {
  color: #ea4335;
}
.top-nav .navbar-logo span:nth-child(3), .top-nav .navbar-logo span:nth-child(8) {
  color: #fbbc05;
}
.top-nav .navbar-logo span:nth-child(4), .top-nav .navbar-logo span:nth-child(7) {
  color: #4285f4;
}
.top-nav .navbar-logo span:nth-child(5), .top-nav .navbar-logo span:nth-child(9) {
  color: #34a853;
}
.top-nav .navbar-logo span:nth-child(10) {
  color: #ea4335;
}

.top-nav.align-right {
  justify-content: flex-end;
  align-items: center;
}

a {
  text-decoration: none;
  color: #363a3f;
  font-size: 12px;
  margin-left: 16px;
}
a:hover {
  text-decoration: underline;
}

.advanced-search-layout,
.advanced-search-container {
  width: 100%;
  max-width: 600px;
  color: #222222;
  font-size: 13px;
}
.advanced-search-layout .form-group,
.advanced-search-container .form-group {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.advanced-search-layout label,
.advanced-search-container label {
  flex: 2;
  text-align: left;
}
.advanced-search-layout input[type=text],
.advanced-search-container input[type=text] {
  flex: 4;
  background-color: #fff;
  border-radius: 1px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  font-size: 13px;
  height: 25px;
  padding: 1px 8px;
}
.advanced-search-layout .button-group,
.advanced-search-container .button-group {
  display: flex;
  justify-content: flex-end;
}
.advanced-search-layout .search-button,
.advanced-search-container .search-button {
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: auto;
  margin-top: 20px;
}
.advanced-search-layout .search-button:hover,
.advanced-search-container .search-button:hover {
  background-color: #357ae8;
  color: white;
}

.advanced-search-title {
  color: #d93025;
  font-size: 20px;
  margin: 40px 0 20px 0;
}

.advanced-search-subhead {
  font-size: 16px;
  color: #333333;
  margin-bottom: 20px;
}

.divider {
  background-color: #ebebeb;
  height: 2px;
  margin-bottom: 20px;
  width: 100%;
  border: none;
}

.logo-main {
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 64px;
  margin-bottom: 20px;
}
.logo-main span:nth-child(1) {
  color: #4285f4;
}
.logo-main span:nth-child(2), .logo-main span:nth-child(6) {
  color: #ea4335;
}
.logo-main span:nth-child(3), .logo-main span:nth-child(8) {
  color: #fbbc05;
}
.logo-main span:nth-child(4), .logo-main span:nth-child(7) {
  color: #4285f4;
}
.logo-main span:nth-child(5), .logo-main span:nth-child(9) {
  color: #34a853;
}
.logo-main span:nth-child(10) {
  color: #ea4335;
}
@media (max-width: 600px) {
  .logo-main {
    font-size: 48px;
  }
}

@media (max-width: 600px) {
  body,
.form-group,
.button-group {
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
  }

  input[type=text],
input[type=submit] {
    width: 100%;
  }

  .logo-main {
    font-size: 48px;
  }
}

/*# sourceMappingURL=style.css.map */
